[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
molecule = {extras = ["lint"],version = "*"}
boto3 = "*"
ansible = "*"
flake8 = "*"
testinfra = "*"
molecule-vagrant = "*"

[requires]
python_version = "3.8"
