[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
molecule = {extras = ["lint"],version = "*"}
boto3 = "*"
ansible = "*"
flake8 = "*"
testinfra = "*"
molecule-vagrant = "*"
py = ">=1.10.0"
Pygments = ">=2.7.4"
PyYAML = ">=5.4"
jinja2 = ">=2.11.3"
cryptography = ">=3.3.2"

[requires]
python_version = "3.9"
