output {
        stdout { }
        elasticsearch {
                hosts => "{{ logstash_host | default('logstash') }}"
                index => "logstash-{{ ansible_env.HMPPS_ROLE }}-{{ ansible_env.HMPPS_STACK }}-%{+YYYY.MM.dd}"
        }
    }
