output {
        stdout { }
        elasticsearch {
                hosts => ["{{ monitoring_host }}"]
                index => "logstash-{{ node_role }}-{{ node_stack }}-%{+YYYY.MM.dd}"
        }
    }
