output {
        stdout { }
        elasticsearch {
                hosts => ["{{ monitoring_host }}"]
                index => "logstash-{{ ansible_env.HMPPS_ROLE }}-{{ ansible_env.HMPPS_STACK }}-%{+YYYY.MM.dd}"
                ssl => "{{ elasticsearch_ssl }}"
        }
    }
